{% layout '../index-layout.liquid', title: 'Interns Page' %}
    {% assign interns = this.getInterns %}

    {% block content %}
        <div class="interns">
            <ol class="interns-list">
                {% for intern in interns %}
                    <li class="interns-list__item">
                        <a 
                            href="" 
                            class="interns-list__link"
                        >
                            {{ intern.Last_Name | capitalize }} {{ intern.First_Name | capitalize }}, {{ intern.Age }} years old is enrolled for {{ intern.Title }}
                        </a>
                        <a 
                            href="/delete-intern?id={{ intern.Id }}"
                            class="delete-intern"
                        >
                            <button class="delete-intern__btn">Delete</button>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endblock %}