{% layout './index-layout.liquid', title: 'Intern Account' %}
    {% assign intern = this.getIntern %}

    {% block content %}
        <div class="intern user">
            <div class="user__detail-row">
                <label class="user__detail-label">First Name:</label> 
                <br />
                <span class="user__detail">{{ intern.firstName | capitalize  }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Last Name:</label> 
                <br />
                <span class="user__detail">{{ intern.lastName | capitalize  }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Email:</label> 
                <br />
                <span class="user__detail">{{ intern.email }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Contact:</label> 
                <br />
                <span class="user__detail">{{ intern.phone }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Age:</label> 
                <br />
                <span class="user__detail">{{ intern.age }}</span>
            </div>

            <div class="user__buttons">
                <button class="user__button">
                    <a 
                        href="/intern-info?id={{ intern.id }}"
                        class="user__link"
                    >
                        Info
                    </a>
                </button>
                <button class="user__button">
                    <a 
                        href="/intern-progress?id={{ intern.id }}"
                        class="user__link"
                    >
                        Progress
                    </a>
                </button>
            </div> 
        </div>
    {% endblock %}