{% layout './index-layout.liquid', title: 'Mentor Account' %}
    {% assign mentor = this.getMentor %}
    {% assign areaOfSpecialty = this.getMentorSpecialty %}

    {% block content %}
        <div class="user">
            <div class="user__profile-pic">
                <img 
                    src="/images/mentor.jpeg" 
                    alt="mentor"
                    class="user__img"
                />
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">First Name:</label> 
                <br />
                <span class="user__detail">{{ mentor.firstName }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Last Name:</label> 
                <br />
                <span class="user__detail">{{ mentor.lastName }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Area of Specialty:</label> 
                <br />
                <span class="user__detail">{{ areaOfSpecialty }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Email:</label> 
                <br />
                <span class="user__detail">{{ mentor.email }}</span>
            </div>

            <div class="user__detail-row">
                <label class="user__detail-label">Phone:</label> 
                <br />
                <span class="user__detail">{{ mentor.phone }}</span>
            </div>

            <div class="user__buttons">
                <button class="user__button">
                    <a 
                        href="/mentor-students?id={{ mentor.id }}"
                        class="user__link"
                    >
                        Students
                    </a>
                </button>
            </div>
            
        </div>
    {% endblock %}