{% layout '../index-layout.liquid', title: 'Mentor Update Form' %}
    {% assign mentor = this.getMentor %}

    {% block content %}
   
        <form 
            action="/update-mentor" 
            method="post"
            class="form"
        >
            <p class="form__info">
                Fill in  the following to update Mentor with selected Id
            </p>

            <input 
                type="hidden" 
                id="mentor_id" 
                name="id"
                class="form__input"
                value={{ mentor.id }}
            />
            <input
                type="hidden"
                name="csrfToken"
                value={{ csrfToken }}
            />

            <div class="form__item">
                <label 
                    for="firstName" 
                    class="form__label"
                >
                    First Name:
                </label>
                <br />
                <input 
                    type="text" 
                    id="firstName" 
                    name="firstName"
                    class="form__input"
                    value = {{ mentor.firstName }}
                />
            </div>
        
            <div class="form__item">
                <label 
                    for="lastName" 
                    class="form__label"
                >
                    Last Name:
                </label>
                <br />
                <input 
                    type="text" 
                    id="lastName" 
                    name="lastName"
                    class="form__input"
                    value= {{ mentor.lastName }}
                />
            </div>

            <div class="form__item">
                <label 
                    for="specialtyAreaId" 
                    class="form__label"
                >
                    Specialty Area ID:
                </label>
                <br />
                <input 
                    type="number" 
                    id="specialtyAreaId" 
                    name="specialtyAreaId"
                    class="form__input" 
                    value= {{ mentor.specialtyAreaId }}
                />
            </div>
        
            <div class="form__item">
                <label 
                    for="email" 
                    class="form__label"
                >
                    Email:
                </label>
                <br />
                <input 
                    type="email" 
                    id="email" 
                    name="email"
                    class="form__input" 
                    value = {{ mentor.email }}
                />
            </div>

            <div class="form__item">
                <label 
                    for="phone" 
                    class="form__label"
                >
                    Phone No:
                </label>
                <br />
                <input 
                    type="tel" 
                    id="phone" 
                    name="phone" 
                    class="form__input"
                    value= {{ mentor.phone }}
                />
            </div>

            <div class="form__item">
                <button 
                    type="submit" 
                    class="form__btn"
                >
                    Update Mentor
                </button>
            </div>
        </form>
    {% endblock %}